<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="templateApp">
<head>
    <meta charset="UTF-8">
    <title>FormAddTransaction</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/transaction/pay}" th:object="${payRequestDto}">
            <label>EmailSender</label>
            <input type="text" class="form-control" th:field="*{emailSender}" placeholder="email Sender">

            <p>
                <label>Email Receiver</label>
                <select th:field ="*{emailReceiver}" class="form-control">
                    <option value =""></option>
                    <option th:each="friend : ${friends}" th:value="${friend.email}" th:text="${friend.email}"></option>
                </select>
            </p>

            <label>Amount</label>
            <input type="number" class="form-control" th:field="*{amount}" placeholder="0€">

            <p>
                <label>Description</label>
                <textarea type="text" class="form-control" th:field="*{description}"></textarea>
            </p>

            <div th:if="${errorResponse}">
                <div class="text-danger" th:text="${errorResponse.errorMessage}"></div>
            </div>

            <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Pay</button>
        </form>
        </form>
    </div>
</div>
</body>
</html>